<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>Xy will be born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until he is here! We just can't wait to meet him!</p>