<% content_for :title do %>About<% end %>
<h3>About Xy Bynum</h3>
<p>He will be born in Shata City California to Music and Matt a young couple of the mining comunity in near by Happy Camp.
Xy will be home schooled by his family and the collective exprience of loved ones.</p>

<p>A note to my son; "Xy my boy, you are so loved. You have givin me something that words have yet to be able to convay.</p>