<% content_for :title do %>About<% end %>
<h3>About Xy Bynum</h3>
<p>He will be born in Shasta City California to Music and Matt a young couple of the mining community in near by Happy Camp.
Xy will be home schooled by his family and the collective experience of loved ones.</p>

<p>A note to my son; "Xy my boy, you are so loved. You have given me something that words have yet to be able to convoy."</p>